# Server Configuration
PORT=5000
NODE_ENV=development

# Client Application URL (for CORS)
CLIENT_URL=http://localhost:5173

# Firebase Web / Firestore Configuration
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=student-hub-smart-pos-system
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

# Firebase Admin SDK (Optional)
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
